/*************** HELPER **************/
:root{
    --navbar-height: 54px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

/* COLORS AND BACKGROUND COLORS */
.customGrey{color: #5b5858;}
.customYellow{color: #ff8f00}

.bckLightGrey{background-color: #e5e5e5;}
.bckLightblue{background-color: #1b72e8;}

.borderGrey{border: 1px solid #252323;;}

/* CUSTOM FONT-SIZE */

.my-fs10{font-size: 11px;}
.my-fs14{font-size: 14px;}

/*************** HELPER END **************/

/* HEADER */

.navbar{
    max-height: 54px;
}


.smallLogo{
    height: 38px;
    display: none;
}

.topBox{
    height: calc(100% - var(--navbar-height));
    min-width: 100%;
    overflow-y: auto;
    
}

/* ASIDE */
aside{
    height: 100%;
}

.sideBar{
    width: 150px;
    height: calc(100vh - var(--navbar-height));
    background-image: url(../img/sidebar-bg.png);
    background-color:#051e34;
    position: fixed;
}

.inverted{
    filter: invert(1);
    width: 17px;
}

/* MAIN */

.debugHeight{height: 130px;}

.main-container{
    margin-left: 150px;
}

.tableImg{
    width: 20px;
}

.tableLogo{
    width: 24px;
    height: 24px;
}



/*************** MEDIA QUERY ***************/

/* MEDIUM SCREENS */
@media screen and (max-width: 768px){

    .navItem, .navbarLogo{display: none;}

    .smallLogo{display: block;}

    .sideBar{width: 70px;}
    
    .sideDscrpt{display: none;}

    .customTd{width: 75%;}

    .hiddenTableElement{display:none;}

    .sideElement{margin-left: 5px;}
    
    .main-container{margin-left: 70px;}

    .centerContainer{width: calc(100% - 70px);}
}

/* SM-XS SCREENS */
@media screen and (max-width: 576px){
      
}

