/*************** HELPER **************/
:root{
    --navbar-height: 54px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

/* COLORS AND BACKGROUND COLORS */
.customGrey{color: #5b5858;}
.customYellow{color: #ff8f00}

.bckLightGrey{background-color: #e5e5e5;}
.bckLightblue{background-color: #1b72e8;}
.bckDarkblue{background-color: #165bba;}

.borderGrey{border: 1px solid #252323;;}

/* CUSTOM FONT-SIZE */

.my-fs8{font-size: 8px;}
.my-fs10{font-size: 10px;}
.my-fs12{font-size: 12px;}
.my-fs14{font-size: 14px;}



/*************** HELPER END **************/

/* HEADER */

.navbar{
    max-height: 54px;
}

.bellBtn:active{
    color: white;
}


.smallLogo{
    height: 38px;
    display: none;
}


.topBox{
    height: calc(100% - var(--navbar-height));
    min-width: 100%;
    overflow-y: auto; 
}

.form-control:focus{
    border-color: none;
    box-shadow: none;
}


/* ASIDE */
aside{
    height: 100%;
}

.sideBar{
    width: 150px;
    height: calc(100vh - var(--navbar-height));
    background-image: url(../img/sidebar-bg.png);
    background-color:#051e34;
    position: fixed;
}

.inverted{
    filter: invert(1);
    width: 17px;
}

/* MAIN */

.plusElement{
    display: none;
}

.customBtn{
    height: 34px;
    width: 34px;
    border: 1px solid white;
    line-height: 21px;
}

.customBtn:hover{
    background-color: white;
    color: #165bba;

}

.main-container{
    margin-left: 150px;
}

.accordion-button:focus{
    border-color: none;
    box-shadow: none;
}

.tableImg{
    width: 20px;
}

.tableLogo{
    width: 24px;
    height: 24px;
}



/*************** MEDIA QUERY ***************/

/* LARGE SCREENS */
@media screen and (max-width: 992px){

    .hiddenBlueElement{display: none;}

    .plusElement{display: inline-block;}
}

/* MEDIUM SCREENS */
@media screen and (max-width: 768px){

    .navItem, .navbarLogo{display: none;}

    .smallLogo{display: block;}

    .sideBar{width: 70px;}
    
    .sideDscrpt{display: none;}

    .customTd{width: 75%;}

    .hiddenTableElement{display:none;}

    .hiddenBlueElement{display: none;}

    .plusElement{display: inline-block;}

    .sideElement{margin-left: 5px;}
    
    .main-container{margin-left: 70px;}

    .centerContainer{width: calc(100% - 70px);}

    #second{
        display: flex;
        order: -1;
    }
}


